* {
    padding: 0;
    margin: 0;
    
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #252525;
}

header {
    width: 90%;
}

.navegacion {
    display: flex;
    width: auto;
}

.logo {
    display: block;
    width: 50%;
    justify-content: center;
    margin: 30px;
}

.nav {
    display: flex;
    width: 50%;
    justify-items: end;
}

.nav ul {
    display: flex;
    list-style: none;
    width: 100%;  
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

.header-buscador {
    display: flex;
}

.Buscador {
    width: 50%;
}

.porciones-de-pizza-img {
    width: 50%;
    height: 100px;
    position: relative;
}

.porcion-1 {
    position: absolute;
    top: 120px;
}

.porcion-2 {
    position: relative;
    top: 0;
    left: 130px;
}

