* {
  padding: 0;
  margin: 0;
  @import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #131415;
  color: #ffffff;
  font-family: "Montserrat Alternates", sans-serif;
}

header {
  width: 90%;
}

.navegacion {
  display: flex;
  width: auto;
}

.logo {
  display: block;
  width: 50%;
  justify-content: center;
  margin: 30px;
}

.nav {
  display: flex;
  width: 50%;
  justify-items: end;
}

.nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

.header-buscador {
  display: flex;
}

.Buscador {
  width: 100%;
  position: relative;
}

.porciones-de-pizza-img {
  width: 100%;
  position: relative;
}

.porcion-1 {
  position: absolute;
  top: 120px;
  left: 100px;
}

.porcion-2 {
  position: relative;
  top: 0;
  left: 230px;
}

h1 {
  font-size: 3em;
  position: relative;
  top: 150px;
  left: 30px;
}

h2 {
  font-size: 1.7em;
  position: relative;
  top: 150px;
  left: 30px;
}

#header-p {
  font-size: 1em;
  position: relative;
  top: 175px;
  left: 30px;
}

#placeholder {
  width: 398px;
  height: 30px;
  position: relative;
  top: 200px;
  left: 30px;
  opacity: 0.1;
  border: 1px solid #f4f4f4;
  box-shadow: 12px 26px 50px rgba(90, 108, 234, 0.07);
  border-radius: 10px;
}
#placeholder::placeholder {
  font: var(--fa-font-solid);
}

#bus {
  width: 188px;
  height: 30px;
  position: relative;
  top: 200px;
  left: 50px;
  background: linear-gradient(
    90deg,
    rgba(255, 161, 0, 1) 0%,
    rgba(251, 16, 61, 1) 100%
  );
  box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
  border-radius: 10px;
}

.seccion-recomendacion {
  width: 95%;
  margin-bottom: 5%;
  padding: 7%;
}

.container-recomendacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 2%;
}

.recomendacion-1 {
  background-color: #252525;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  *margin: auto;
  padding: 10px;
  gap: 15px;
  border-radius: 10px;
}

.recomendacion-descripcion h3 {
  background: linear-gradient(to right, #ffa400, #fc2933);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.recomendacion-descripcion p {
  padding-block: 10px;
  opacity: 0.3;
}

.container-recomendacion button {
  padding: 5px;
  width: 80px;
  border-radius: 20px;
  border-style: none;
  color: #f4f4f4;
  background: linear-gradient(to right, #ffa400, #fc2933);
}

@media (min-width: 750px) {
  .header-buscador {
    flex-direction: column;
  }

  .porciones-de-pizza-img {
    margin-top: 150px;
  }
}

@media (min-width: 320px) {
  .header-buscador {
    flex-direction: column;
  }

  .Buscador {
    margin-left: 130px;
  }

  .porciones-de-pizza-img {
    margin-top: 150px;
  }
}

@media (min-width: 1024px) {
  .header-buscador {
    flex-direction: row;
  }

  .porciones-de-pizza-img {
    margin-top: 150px;
  }
}
